body {
  font-family: Arial;
  margin: 0;
  background: #fff0f5;
  text-align: center;
}

.header {
  background: pink;
  padding: 50px;
}

h1 {
  margin: 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.services,
.gallery,
.price {
  padding: 40px;
}

.card {
  background: white;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer {
  background: #111;
  color: white;
  padding: 30px;
}

.footer a {
  color: pink;
}

.copy {
  margin-top: 20px;
  font-size: 12px;
}